form {
  padding: 100px 200px;
  position: relative;
}
@media screen and (max-width:768px) {
  form {
    padding: 100px 50px; 
  }
}
form span {
  color: red;
}
.form input,
.form textarea {
  width: 100%;
  border:1px solid silver;
  margin:10px 0 30px 0;
}
.formCompany input,
.formName input,
.formEmail input{
  height: 30px;
  font-size: 100%;
}
.formButtom {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  margin-top: 10px;
  background-color: #232b2b;
  color: #fff;;
  width: 300px;
  height: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  
}