/*ヘッダー*/
body {
  font-family: Arial, Helvetica, sans-serif;
  
}
.header {
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}
.header__nav a{
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.logo img {
  width: 40%;
  height: auto;
}
.logo img:hover,
button:hover,
header a:hover,
.outline:hover,
.recruit:hover,
.blogCard img:hover,
footer ul li a:hover { /*透明*/
  opacity: 0.7;
}
.header nav ul{
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  padding-left: 30px;
}
/*レスポンシブ*/
@media screen and (min-width:769px) {
  #header {
    display: none !important;
  }
}
@media screen and (max-width:768px) {
  .header {
    display: none !important;
  }

  #header {
    padding: 20px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  
  }
  .responsiveNav ul li a {
    text-decoration: none;
    color: blue;
  }
  
  .responsiveNav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #fff;
    transition: .7s;
    text-align: center;
  }
  
  .responsiveNav ul {
    padding-top: 80px;
  }
  
  .responsiveNav ul li {
    list-style-type: none;
    margin-top: 50px;
  }
  
  /*ドロワーメニュー*/
  .responsiveMenu {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
  }
  .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transform: 0.5s;
  }
  .menu__line--top {
    top: 0;
  }
  .menu__line--middle {
    top: 14px;
  }
  .menu__line--bottom {
    bottom: 0;
  }
  .responsiveMenu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .responsiveMenu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .responsiveMenu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
  }

/*トップぺージ*/
.topPage {
  width: 100%;
  position: relative;
  
}
.topPage img {
  width: 100%;
  height: 80vh;
  vertical-align:top;
  
}
.topPage p {
  width:  100%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.topPage p span {
  font-size: 20px;
}
#topPage__img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  vertical-align: top;
}
@media screen and (max-width:768px) {
  #topPage__img {
    height: 300px;
  }
}
#topPage__text {
  font-size: 30px;
}

/*トップページコメント*/
.comentPage {
  background-color: #232b2b;
  padding: 80px 100px;
}
.comentPage__title {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}
.comentPage__text {
  color: #fff;
  line-height: 30px;
  font-size: 20px;
}

/*サービスページ*/
.service {
  background-color: #fff;
  padding: 100px;
}
.serviceTitle,
.blogTitle,
.inquiryTitle { /*サービス・ブログ・問い合わせ*/
  text-align: center;
}
.serviceTitle p,
.blogTitle p,
.inquiryTitle p { /*サービス・ブログ・問い合わせ*/
  font-size: 30px;
  font-weight: bold;
}
.serviceContents {
  column-count: 2;
  margin-top: 30px; 
}
@media screen and (max-width:769px) {
  .serviceContents {
    column-count: 1;
  }
}
.serviceCard {
  break-inside: avoid;
}
.serviceCard img{
  width: 100%;
}
.serviceCard h1,
.serviceCard p{
  font-size: 20px;
  margin: 10px;
}
.button {
  text-align: center;
  margin-top: 50px; 
}
.button__item{   /*ボタン*/
  background-color: #aa0114;
  color: #fff;
  width: 300px;
  height: 50px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  
}



/*ニュース*/
.news {
  padding: 100px;
  background-color: #232b2b;
}
.newsTitle {
  background-color: #232b2b;
  display: flex;
  justify-content: space-between;
}
.newsTitle p {
  color: #fff;
  font-size: 30px;
  margin-bottom: 30px;
}
.button__news {
  text-align: center; 
}
.button__news-item {
  background-color: #aa0114;
  color: #fff;
  width: 150px;
  height: 35px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.news ul li {
  background-color: #fff;
  margin-bottom: 20px;
  text-align: left;
  padding-left: 20px;
  list-style: none;
}
.news ul li:hover{
  background-color: aliceblue;
}
.news ul li a{
  
  text-decoration: none;
  color: #000;
  line-height: 80px;
  display: block; 
  font-size: 20px;
}
.news ul li span {
  padding-left: 10px;
  
}

/*ブログ*/
.blog {
  margin: 100px;
}
.blogContents {
  margin-top: 30px;
  column-count: 3;
}
@media screen and (max-width:768px){
  .blogContents {
    column-count: 1;
  }
}
.blogCard {
  break-inside: avoid;
  width: 100%;
}
.blogCard img {
  width: 100%;
}
.blogCard h3,
.blogCard p {
  padding: 10px 10px 10px 0;
}
.blogCard p {
  font-size: 20px;
}

/*会社概要・採用情報*/
.company {
  width: 100%;
  margin: 0 0 100px 0;
  display: flex;
}
.outline,
.recruit {
  width: 50%;
  height: 300px;
  text-align: center;
}
.outline a,
.recruit a{
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 25px;
  line-height: 300px;
}
.outline {
  background-color: #aa0114; 
}
.recruit {
  background-color: #232b2b;
}

/*お問い合わせ*/
.inquiry {
  padding: 100px;
  background-color: aliceblue;
}
.inquiryTitle span {
  font-size: 15px;
  font-weight: lighter;
}

/*フッター*/
.footer {
  padding: 25px 100px;
  height: auto;
  background-color: #232b2b;
  line-height: 30px;
}
.inner {
  display: flex;
  justify-content: space-between;
  
}
small {
  color: #fff;
  font-size: 15px;
}
.inner ul {
  display: flex;
  justify-content: space-between;
}
footer ul li {
  padding-left: 20px;
  border-right: 0.5px solid #fff;
  
}
footer ul li a {
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
  font-size: 10px; 
}
@media screen and (max-width:768px){
  .footer {
    padding: 25px 150px;
  }
  .inner ul {
    flex-direction: column;
  }
  .inner {
    align-items: center;
  }
  .footer ul li {
    border: none;
    margin: 0 auto;
  }
}

