.contents__product {
  padding: 100px;
}
.productCard {
  display: flex;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}
@media screen and (max-width:768px) {
  .productCard {
    display: block;
  }
}
.productCard__top { 
  border-top: 1px solid #000;
}
.productCard__img { 
  width: 20%;
}
@media screen and (max-width:768px){
  .productCard__img {
    width: 100%;
  }
}
.productCard__img img {
  width: 100%;
}
.productComents { 
  padding: 0 30px;
}
.productComents h1 { 
  font-size: 25px;
}
.productComents p {
  padding-top: 20px;
}